div
  table
    thead
      tr: th Usuarios
        form(method="GET" action='/users/nuevo/')
          button.btn.btn-primary(type='submit') Agregar usuario
    tbody
      each user, i in users
        tr
          td 
            a(href='/users/' + user.id) #{user.username}
          td 
            form(method='POST' action='/users/' + user.id + '?_method=DELETE')
              button(type='submit') Eliminar